<header class="navbar navbar-fixed-top navbar-custom">
  <div class="container">
    <%= link_to "Dict App", items_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", items_path %></li>
        <li><%= link_to "About", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
